.custom-shape-divider-bottom {
  position: absolute;
  top: -190px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  /* Only apply the vertical translation, not rotate twice */
  transform:  rotate(180deg);
}
  
  .custom-shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 200px;

  }
  
  .custom-shape-divider-bottom .shape-fill {
    fill: #f4f1e9;
  }
  
  /** For mobile devices **/
  @media (max-width: 767px) {
    .custom-shape-divider-bottom svg {
      width: calc(163% + 1.3px);
      height: 132px;
      /* transform: translateY(-250px) rotate(180deg); */

    }
  }